<div class="container">
  <div class="text-center">
    <h2 id="info">Admin-dashboard works!</h2>
  </div>
  <!-- <div class="dashboard-back">
    <div class="dashboard">
      <div class="func-row">
        <div class="func">A</div>
        <div class="func">B</div>
      </div>
      <div class="">
        <div class="func">C</div>
        <div class="func">D</div>
      </div>
    </div>
  </div> -->
  <button type="button" class="btn btn-default" id="">
    <a routerLink="/adminAddProduct" class="btn btn-link">Add Product</a>
  </button>

  <!-- <button type="button" class="btn btn-default" id="resetB" (click)="reset()">
    Reset
  </button>

  <button type="button" class="btn btn-default" id="resetB" (click)="reset()">
    Reset
  </button>

  <button type="button" class="btn btn-default" id="resetB" (click)="reset()">
    Reset
  </button> -->

  <a routerLink="/adminAddProduct" class="btn btn-link">Add Product</a>

  <a routerLink="/adminEditProduct" class="btn btn-link">Edit Product</a>

  <a routerLink="/adminDeleteProduct" class="btn btn-link">Delete Product</a>
  <a routerLink="/adminCheckOrder" class="btn btn-link">Check Order</a>
</div>
