.dashboard-back{
    display:flex;
    justify-content: center;
}

.dashboard{
    border: 0.2em solid black;
    width: 70%;
    padding: 10px;
}

.func{
    border: 0.2em solid  black;
    width: 40%;
    padding-bottom: 40%;
    position: relative;
}

.func-row{
    height: 40%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.row-comp{
    width: 300%;
  line-height: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}