/* #main-item-img{
    height: 400px;
    width: 50%;
    border-radius: 10px;
    margin: 30px 30px;
    float: left;
} */
div.pic-area {
    width: 65%;
    height: 60vh;
    border:10px;
    /* background-size: contain; */
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    /* float: left; */
}
div.pic-area img {
    /* margin: 5px; */
    min-width:100%;
    min-height:100;
    /* display: block;
    width: auto;
    height: auto; */
    object-fit: contain;
}
#item-boards{
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-items: center; */
}
.item-info{
    width:40%;
    padding-left: 20px;
    margin-top: 5px;
}