<div class="container">
  <div class="text-center mt-5 border border-1 border-dark overflow-hidden">
    <h2 id="info">items works!</h2>
  </div>
  <div class="row" id="item-boards">
    <!-- ng-src="https://image.gamebase.com.tw/gb_img/0/004/205/4205730.png" -->
    <div class="pic-area">
      <!-- <img
        src="https://image.gamebase.com.tw/gb_img/0/004/205/4205730.png"
        id="main-item-img"
        alt="North"
      /> -->
      <img src="{{ product.imgUrl }}" id="main-item-img" alt="North" />
    </div>
    <div class="item-info">
      <!-- <h2 class="item-name text-center">{{ itemName }}</h2> -->
      <div class="item-description">{{ product.productDesc }}</div>
    </div>
  </div>
  <div class="row">
    <app-buy-form [product]="product"></app-buy-form>
  </div>
</div>
