<div class="container">
  <h2>Login</h2>
  <form (submit)="login(loginForm.value)" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        class="form-control"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        ngModel
      />
    </div>
    <button type="submit" class="btn btn-primary">Click to Login</button>
    <a routerLink="/register" class="btn btn-link">Register</a>
  </form>
</div>
