<div class="container">
  <div class="text-center">
    <h2 id="info">Shopping Cart works!</h2>
  </div>

  <div class="">
    <app-cart-item-list *ngFor="let i of items" [item]="i"></app-cart-item-list>
    <hr />
    <div class="text-right">
      <h4>
        Subtotal ({{ items.length }} items):
        {{ prices | mySum : "price" | currency : "USD" : true }}
      </h4>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-default"
    id="purchaseB"
    Style="margin: 20px;"
    (click)="getSelectProduct()"
  >
    Proceed to purchase
  </button>
</div>
