<h2>Edit Product</h2>
<h2>Choose Product</h2>
<form [formGroup]="cProductFormGroup" (ngSubmit)="nameSubmit()">
  <label for="products" style="margin-right: 15px">Select Product:</label>
  <select
    formControlName="products"
    id="products"
    (change)="updateName($event)"
  >
    <option [ngValue]="" disabled>Choose city</option>
    <option [ngValue]="pname.id" *ngFor="let pname of productName">
      {{ pname.productname }}
    </option>
  </select>
  <br /><br />
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<div *ngIf="wantName" Style="margin-top:20px">
  <form (submit)="editProduct(editProductForm.value)" #editProductForm="ngForm">
    <div class="form-group">
      <label for="productname">Product Name</label>
      <input
        type="text"
        class="form-control"
        id="productname"
        name="productname"
        ngModel="{{ wantProduct.productname }}"
      />
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input
        type="text"
        class="form-control"
        id="category"
        name="category"
        ngModel="{{ wantProduct.category }}"
      />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        ngModel="{{ wantProduct.price }}"
      />
    </div>
    <div class="form-group">
      <label for="productDesc">Product Description</label>
      <input
        type="text"
        class="form-control"
        id="productDesc"
        name="productDesc"
        Style="min-height:200px"
        ngModel="{{ wantProduct.productDesc }}"
      />
    </div>
    <div class="form-group">
      <label for="qty_stock">Quantity in Stock</label>
      <input
        type="number"
        class="form-control"
        id="qty_stock"
        name="qty_stock"
        ngModel="{{ wantProduct.qty_stock }}"
      />
    </div>
    <div class="form-group">
      <label for="discount">Discount</label>
      <input
        type="number"
        class="form-control"
        id="discount"
        name="discount"
        ngModel="{{ wantProduct.discount }}"
      />
    </div>
    <div class="form-group">
      <label for="imgUrl">Image Url</label>
      <input
        type="text"
        class="form-control"
        id="imgUrl"
        name="imgUrl"
        ngModel="{{ wantProduct.imgUrl }}"
      />
    </div>
    <button class="btn btn-primary" type="submit">Edit</button>
  </form>
</div>
