<h2>Delete Product</h2>
<form [formGroup]="dProductFormGroup" (ngSubmit)="onSubmit()">
  <label for="products" style="margin-right: 15px">Select Product:</label>
  <select
    formControlName="products"
    id="products"
    (change)="updateName($event)"
  >
    <option [ngValue]="" disabled>Choose city</option>
    <option [ngValue]="pname.id" *ngFor="let pname of productName">
      {{ pname.productname }}
    </option>
  </select>
  <br /><br />
  <button type="submit" class="btn btn-default">Submit</button>
</form>
