<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">FinalEcommerce</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/shoppage" routerLinkActive="active">Shopping Page</a>
        </li>
        <li *ngIf="this.authService.loggedIn | async">
          <a routerLink="/shopcart" routerLinkActive="active">Shopping Cart</a>
        </li>
        <li *ngIf="!(this.authService.loggedIn | async)">
          <a routerLink="/login" routerLinkActive="active">Loggin</a>
        </li>
        <li *ngIf="this.authService.loggedIn | async">
          <a routerLink="/logout" routerLinkActive="active">Logout</a>
        </li>
        <li *ngIf="this.authService.loggedIn | async">
          <a routerLink="/manageDashboard" routerLinkActive="active"
            >Manage Dashboard</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
