<div class="container text-center">
  <h4>Username : {{ Order.user.username }}</h4>
  <h4>User Address : {{ Order.user.address }}</h4>
  <h4>User Mobile : {{ Order.user.phone_number }}</h4>
  <h4>Total Price : {{ Order.total }}</h4>
  <h4>Payment : {{ Order.payment }}</h4>
  <h4>Products</h4>
  <h4 *ngFor="let p of Order.orderItems">
    {{ p.product.productname }} : {{ p.qty }}
  </h4>

  <!-- <div>
      <h4 style="margin: 10px">3 Review items</h4>
      <app-order-item-list
        *ngFor="let i of items"
        [item]="i"
        [index]="0"
      ></app-order-item-list>
    </div> -->
</div>
