<div class="container">
  <h2>Check Order</h2>
  <h2>Choose Type</h2>
  <button
    type="submit"
    class="btn btn-default"
    Style="margin-bottom: 20px;"
    (click)="getAllOrder()"
  >
    Get All Order
  </button>
  <form [formGroup]="uProductFormGroup" (ngSubmit)="getOrderByName()">
    <label for="user" style="margin-right: 15px">Select User:</label>
    <select formControlName="user" id="user" (change)="updateName($event)">
      <option [ngValue]="" disabled>Choose User</option>
      <option [ngValue]="uname.username" *ngFor="let uname of userNames">
        {{ uname.username }}
      </option>
    </select>
    <br /><br />
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <hr />
  <app-order-board
    *ngFor="let order of orders"
    [Order]="order"
  ></app-order-board>
</div>
