<h2>Register</h2>
<form (submit)="register(registerForm.value)" #registerForm="ngForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="password">Firstname</label>
    <input
      type="text"
      class="form-control"
      id="first_name"
      name="first_name"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="password">Lastname</label>
    <input
      type="text"
      class="form-control"
      id="last_name"
      name="last_name"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="password">Address</label>
    <input
      type="text"
      class="form-control"
      id="address"
      name="address"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="password">Phone Number</label>
    <input
      type="text"
      class="form-control"
      id="phone_number"
      name="phone_number"
      ngModel
    />
  </div>
  <button class="btn btn-primary" type="submit">Click to Register</button>
</form>
