<div class="" style="display: flex; justify-content: center; margin: 20px 5px">
  <div class="col-sm-6">
    <h4>Single Price: {{ product.price | currency : "USD" : true }}</h4>
    <form [formGroup]="buyForm">
      <div class="form-group" style="display: flex; align-items: center">
        <label for="quantity" style="float: left">Qty:</label>
        <span style="display: block; padding: 0px 3vw">
          <input
            type="text"
            id="quantity"
            class="form-control"
            formControlName="quantity"
            style="width: 50%"
          />
        </span>
      </div>
      <h4>Total Price: {{ money | currency : "USD" : true }}</h4>
      <button
        type="button"
        class="btn btn-default"
        style="font-weight: 700"
        (click)="addToCart()"
      >
        Add to Cart
      </button>
      <button
        type="button"
        class="btn btn-default"
        style="font-weight: 700"
        (click)="clickToBuy()"
      >
        Buy
      </button>
    </form>
  </div>
</div>
