.item-card-img{
        /* margin: 5px; */
        min-width:100%;
        min-height:100%;
        /* display: block;
        width: auto;
        height: auto; */
        object-fit: contain;
}

.item-card{
    width: 100%;
    height: 40vh;
    border:10px;
    /* background-size: contain; */
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    margin-top: 20px;
    margin-bottom: 20px;

    /* float: left; */
}
