<div
  class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-10"
  style="margin: 10px"
  (click)="clickProduct()"
>
  <div class="item-card" style="border: black">
    <img
      class="item-card-img"
      src="{{ product.imgUrl }}"
      alt="Card image cap"
    />
  </div>

  <div class="item-card-body text-center">
    <h4 class="item-card-title">{{ product.name }}</h4>
    <h4>Price: {{ product.price | currency : "USD" : true }}</h4>
  </div>
</div>
