<h2>Add Product</h2>
<form (submit)="addProduct(addProductForm.value)" #addProductForm="ngForm">
  <div class="form-group">
    <label for="productname">Product Name</label>
    <input
      type="text"
      class="form-control"
      id="productname"
      name="productname"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input
      type="text"
      class="form-control"
      id="category"
      name="category"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" name="price" ngModel />
  </div>
  <div class="form-group">
    <label for="productDesc">Product Description</label>
    <input
      type="text"
      class="form-control"
      id="productDesc"
      name="productDesc"
      Style="min-height:200px"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="qty_stock">Quantity in Stock</label>
    <input
      type="number"
      class="form-control"
      id="qty_stock"
      name="qty_stock"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="discount">Discount</label>
    <input
      type="number"
      class="form-control"
      id="discount"
      name="discount"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="imgUrl">Image Url</label>
    <input type="text" class="form-control" id="imgUrl" name="imgUrl" ngModel />
  </div>
  <button class="btn btn-primary" type="submit">Add Product</button>
</form>
