<div class="container">
  <div class="text-center">
    <h2 id="info">Order works!</h2>
  </div>

  <hr />
  <div class="item-row">
    <div class="cart-card row-comp" style="border: black">
      <h4>1 Shipping address</h4>
    </div>

    <div class="info-card row-comp text-left">
      <p>{{ user.username }}</p>
      <p>{{ user.address }}</p>
    </div>
    <div class="price-tag row-comp text-right">
      <h4>change</h4>
    </div>
  </div>

  <hr />

  <div class="item-row">
    <div class="cart-card row-comp" style="border: black">
      <h4>2 Payment method</h4>
    </div>

    <div class="info-card row-comp text-left">
      <!-- <p>{{ user.payment }}</p> -->
      <p>Amex</p>
    </div>
    <div class="price-tag row-comp text-right">
      <h4>change</h4>
    </div>
  </div>
  <hr />
  <div>
    <h4 style="margin: 10px">3 Review items</h4>
    <app-order-item-list
      *ngFor="let i of order.orderItems"
      [item]="i"
      [index]="0"
    ></app-order-item-list>
  </div>
  <button type="button" class="btn btn-default" (click)="submitOrder()">
    Purchase
  </button>
</div>
