.item-row{
    height: 15vh;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.row-comp{
    width: 25vw;
  line-height: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}