<div class="container">
  <div class="text-center">
    <h2 id="info">Shopping Page works!</h2>
  </div>

  <div>
    <!-- <div *ngFor="let i of [0, 1, 2]">
      <app-item-info-list
        *ngFor="let j of [0, 1, 2]"
        [item]="items[page * 9 + i * 3 + j]"
        [index]="page * 9 + i * 3 + j"
      >
      </app-item-info-list>
    </div> -->

    <div>
      <!-- <app-item-info-list
        *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8]"
        [item]="items[page * 9 + i]"
        [index]="page * 9 + i"
      >
      </app-item-info-list> -->

      <app-item-info-list *ngFor="let i of products" [product]="i" [index]="1">
      </app-item-info-list>
    </div>
  </div>
</div>
