<hr />
<div class="item-row">
  <div class="cart-card row-comp" style="border: black">
    <input
      type="checkbox"
      id="wantItem"
      name="wantItem"
      value="Item"
      (change)="onCheckboxChange($event)"
    />
    <img
      class="cart-img"
      src="{{ item.product.imgUrl }}"
      alt="Card image cap"
    />
  </div>

  <div class="info-card row-comp text-left">
    <h4 class="item-card-title">{{ item.product.productname }}</h4>
    <h4>Qty : {{ item.qty }}</h4>
  </div>
  <div class="price-tag row-comp text-right">
    <h4>{{ item.product.price | currency : "USD" : true }}</h4>
  </div>
</div>
