.cart-img{
    /* margin: 5px; */
    max-width:100%;
    max-height:100%;
    /* display: block;
    width: auto;
    height: auto; */
    object-fit: contain;
}

#wantItem{
    margin-left: 30px;
    margin-right: 10px;
}

.cart-card{
width: 50%;
border:10px;
/* background-size: contain; */
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
/* float: left; */
}

.item-row{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.row-comp{
    width: 25vw;
  line-height: 40px;
  margin: 10px;
}

.info-card{
    display: grid;
    align-content: space-between;
}

/* .info-card{
    width:10%;
} */
